$legacy-support-for-ie:true;
$legacy-support-for-ie6:$legacy-support-for-ie;
$legacy-support-for-ie7:$legacy-support-for-ie;
$legacy-support-for-ie8:$legacy-support-for-ie;
$legacy-support-for-mozilla:true;

$experimental-support-for-mozilla:true;
$experimental-support-for-webkit:true;
$experimental-support-for-opera:true;
$experimental-support-for-microsoft:true;
$experimental-support-for-khtml:true;
$experimental-support-for-svg:true;

$support-for-original-webkit-gradients:true;