doctype html
html(lang="ja" ng-app)
	head
		meta(charset="UTF-8")
		meta(http-equiv="Pragma" content="no-cache")
		meta(http-equiv="Cache-Control" content="no-cache")
		link(rel="stylesheet" href="styles/cssreset.min.css")
		link(rel="stylesheet" href="styles/bootstrap.min.css")
		link(rel="stylesheet" href="styles/")
		title Spledio
	body
		header
		footer

		script(src="scripts/jquery/jquery.min.js")
		script(src="scripts/angular/angular.min.js")
		script(src="scripts/json3/json3.min.js")
		script(src="scripts/bootstrap/bootstrap.min.js")
		script(src="scripts/angular-resource/angular-resource.min.js")
		script(src="scripts/angular-cookies/angular-cookies.min.js")
		script(src="scripts/angular-sanitize/angular-sanitize.min.js")
		script(src="scripts/angular-animate/angular-animate.min.js")
		script(src="scripts/angular-touch/angular-touch.min.js")
		script(src="scripts/angular-route/angular-route.min.js")
		script(src="scripts/")
